<app-message
  [successMessage]="successMessage"
  [errorMessage]="errorMessage"
></app-message>

<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px">
    <h2 class="text-center mb-4">
      Sign up
    </h2>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name *</label>
        <input type="text" id="firstName" class="form-control" placeholder="First name" formControlName="firstName" required
               [class.is-invalid]="(submitted && registerForm.get('firstName')?.invalid) || (registerForm.get('firstName')?.invalid &&
                                 (formUtils.isTouched(registerForm,'firstName') || registerForm.get('firstName')?.dirty))"/>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('firstName')?.errors?.['required']) ||  (registerForm.get('firstName')?.errors?.['required'] &&
                                          (formUtils.isTouched(registerForm,'firstName') || registerForm.get('firstName')?.dirty))">
          First name is required
        </small>
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name *</label>
        <input type="text" id="lastName" class="form-control" placeholder="Last name" formControlName="lastName" required
               [class.is-invalid]="(submitted && registerForm.get('lastName')?.invalid) || (registerForm.get('lastName')?.invalid &&
                                 (formUtils.isTouched(registerForm,'lastName') || registerForm.get('lastName')?.dirty))"/>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('lastName')?.errors?.['required']) ||  (registerForm.get('lastName')?.errors?.['required'] &&
                                          (formUtils.isTouched(registerForm,'lastName') || registerForm.get('lastName')?.dirty))">
          Last name is required
        </small>
      </div>

      <div class="mb-3">
        <label for="userName" class="form-label">Username *</label>
        <input type="text" id="userName" class="form-control" placeholder="Username" formControlName="userName" required
               [class.is-invalid]="(submitted && registerForm.get('userName')?.invalid) || (registerForm.get('userName')?.invalid &&
                                 (formUtils.isTouched(registerForm,'userName') || registerForm.get('userName')?.dirty))"/>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('userName')?.errors?.['required']) || (registerForm.get('userName')?.errors?.['required'] &&
                                          (formUtils.isTouched(registerForm,'userName') || registerForm.get('userName')?.dirty))">
          Username is required
        </small>
        <small class="text-danger" *ngIf="errorMessage?.includes('username') && (formUtils.isTouched(registerForm,'userName') || registerForm.get('userName')?.dirty)">
          The username is already taken
        </small>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" id="phone" class="form-control" placeholder="Phone number" formControlName="phone"/>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input type="email" id="email" class="form-control" placeholder="example@example.com" formControlName="email" required
               [class.is-invalid]="(submitted && registerForm.get('email')?.invalid) || (registerForm.get('email')?.invalid &&
                                 (formUtils.isTouched(registerForm,'email') || registerForm.get('email')?.dirty)) || errorMessage?.includes('email')"/>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('email')?.errors?.['required']) || (registerForm.get('email')?.errors?.['required'] &&
                                          (formUtils.isTouched(registerForm,'email') || registerForm.get('email')?.dirty))">
          Email is required
        </small>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('email')?.errors?.['email']) || (registerForm.get('email')?.errors?.['email'] &&
                                          (formUtils.isTouched(registerForm,'email') || registerForm.get('email')?.dirty))">
          Invalid email format
        </small>
        <small class="text-danger" *ngIf="errorMessage?.includes('email')">
          The email is already registered
        </small>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password *</label>
        <div class="input-group">
          <input type="password" id="password" class="form-control" placeholder="8+ characters" formControlName="password" required
                 [class.is-invalid]="(submitted && registerForm.get('password')?.invalid) || (registerForm.get('password')?.invalid &&
                                   (registerForm.get('password')?.dirty || formUtils.isTouched(registerForm,'password')))"/>
          <button type="button" class="btn btn-outline-secondary input-group-text"
                  (click)="formUtils.togglePasswordVisibility('password')">
            <i class="fa-solid" [ngClass]="formUtils.showPasswords['password'] ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('password')?.errors?.['minlength']) || (registerForm.get('password')?.errors?.['minlength'] &&
                                          (formUtils.isTouched(registerForm,'password') || registerForm.get('password')?.dirty))">
          Password must be at least 8 characters long
        </small>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('password')?.errors?.['pattern']) || (registerForm.get('password')?.errors?.['pattern'] &&
                                          (formUtils.isTouched(registerForm,'password') || registerForm.get('password')?.dirty))">
          Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (&#64;$!%*?&)
        </small>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password *</label>
        <div class="input-group">
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required
                 [class.is-invalid]="(submitted && registerForm.get('confirmPassword')?.invalid) || (registerForm.get('confirmPassword')?.invalid &&
                                   (formUtils.isTouched(registerForm,'confirmPassword') || registerForm.get('confirmPassword')?.dirty)) || registerForm.errors?.['mismatch']"/>
          <button type="button" class="btn btn-outline-secondary input-group-text"
                  (click)="formUtils.togglePasswordVisibility('confirmPassword')">
            <i class="fa-solid" [ngClass]="formUtils.showPasswords['confirmPassword'] ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
        <small class="text-danger" *ngIf="(submitted && registerForm.get('confirmPassword')?.errors?.['required']) || (registerForm.get('confirmPassword')?.errors?.['required'] &&
                                          (formUtils.isTouched(registerForm,'confirmPassword') || registerForm.get('confirmPassword')?.dirty))">
          Confirm your password
        </small>
        <small class="text-danger" *ngIf="registerForm.errors?.['mismatch'] && (formUtils.isTouched(registerForm,'confirmPassword') || registerForm.get('confirmPassword')?.dirty)">
          Passwords do not match
        </small>
      </div>

      <button type="submit" class="btn btn-primary w-100 rounded-pill py-2">
        Sign up
      </button>

      <div class="text-center mt-3">
        Already have an account?
        <a href="/login" class="text-decoration-none text-muted">
          Log in
        </a>
      </div>
    </form>
  </div>
</div>

