<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px">
    <h2 class="text-center mb-4">Register</h2>
    <form (ngSubmit)="register()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          placeholder="First name"
          [(ngModel)]="firstName" name="firstName"
          required
        />
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          placeholder="Last name"
          [(ngModel)]="lastName" name="lastName"
          required
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="email" name="email"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="8+ characters (at least 1 letter & 1 number)"
          [(ngModel)]="password" name="password"
          required
        />
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label"
        >Confirm password</label
        >
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          [(ngModel)]="confirmPassword" name="confirmPassword"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary w-100 rounded-pill py-2">
        Register
      </button>

      <div class="text-center mt-3">
        <a href="/login" class="text-decoration-none text-muted">
          Already have an account? Log in
        </a>
      </div>
    </form>
  </div>
</div>

