<app-navbar></app-navbar>

<app-message
  [successMessage]="successMessage"
  [errorMessage]="errorMessage"
></app-message>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Registered Users</h2>
    <button class="btn btn-primary" (click)="toggleForm()">
      {{ showForm ? 'Cancel' : '+ New User' }}
    </button>
  </div>

  <div *ngIf="showForm" class="card mb-4">
    <div class="card-header">
      <h5>Create New User</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name *</label>
          <input type="text" id="firstName" class="form-control" placeholder="First name" formControlName="firstName"
                 required/>
          <small class="text-danger"
                 *ngIf="userForm.get('firstName')?.invalid && (formUtils.isTouched(userForm,'firstName') || userForm.get('firstName')?.dirty)">
            First name is required
          </small>
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name *</label>
          <input type="text" id="lastName" class="form-control" placeholder="Last name" formControlName="lastName"
                 required/>
          <small class="text-danger"
                 *ngIf="userForm.get('lastName')?.invalid && (formUtils.isTouched(userForm,'lastName') || userForm.get('lastName')?.dirty)">
            Last name is required
          </small>
        </div>

        <div class="mb-3">
          <label for="userName" class="form-label">Username *</label>
          <input type="text" id="userName" class="form-control" placeholder="Username" formControlName="userName"
                 required/>
          <small class="text-danger"
                 *ngIf="userForm.get('userName')?.invalid && (formUtils.isTouched(userForm,'userName') || userForm.get('userName')?.dirty)">
            Username is required
          </small>
          <small class="text-danger"
                 *ngIf="errorMessage?.includes('username') && (formUtils.isTouched(userForm,'userName') || userForm.get('userName')?.dirty)">
            The username is already taken
          </small>
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" id="phone" class="form-control" placeholder="Phone number" formControlName="phone"/>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email *</label>
          <input type="email" id="email" class="form-control" placeholder="example@example.com" formControlName="email"
                 required/>
          <small class="text-danger"
                 *ngIf="userForm.get('email')?.errors?.['required'] && (formUtils.isTouched(userForm,'email') || userForm.get('email')?.dirty)">
            Email is required
          </small>
          <small class="text-danger"
                 *ngIf="userForm.get('email')?.errors?.['email'] && (formUtils.isTouched(userForm,'email') || userForm.get('email')?.dirty)">
            Invalid email format
          </small>
          <small class="text-danger"
                 *ngIf="errorMessage?.includes('email') && (formUtils.isTouched(userForm,'email') || userForm.get('email')?.dirty)">
            The email is already registered
          </small>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input type="password" id="password" class="form-control" placeholder="8+ characters" formControlName="password" required/>
            <button type="button" class="btn btn-outline-secondary input-group-text"
                    (click)="formUtils.togglePasswordVisibility('password')">
              <i class="fa-solid" [ngClass]="formUtils.showPasswords['password'] ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          <small class="text-danger"
                 *ngIf=" userForm.get('password')?.errors?.['required'] && (formUtils.isTouched(userForm,'password') || userForm.get('password')?.dirty)">
            Password is required
          </small>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <div class="input-group">
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required>
            <button type="button" class="btn btn-outline-secondary input-group-text"
                    (click)="formUtils.togglePasswordVisibility('confirmPassword')">
              <i class="fa-solid" [ngClass]="formUtils.showPasswords['confirmPassword'] ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          <small class="text-danger" *ngIf="userForm.errors?.['mismatch'] && (formUtils.isTouched(userForm,'confirmPassword') || userForm.get('confirmPassword')?.dirty)">
            Passwords do not match
          </small>
        </div>

        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select class="form-select" id="role" formControlName="role">
            <option value="MEMBER">Member</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>

        <button class="btn btn-primary w-100 rounded-pill py-2" (click)="createUser()">
          Create User
        </button>
      </form>
    </div>
  </div>

  <div class="list-group mb-4">
    <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center fw-bold">
      <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="me-3" style="min-width: 30%;">Username</div>
        <div class="me-3" style="min-width: 30%;">Email</div>
        <div style="min-width: 15%;">Role</div>
        <div style="min-width: 10%;"></div>
      </div>
    </div>

    <div *ngFor="let user of users" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="me-3" style="min-width: 30%;">
          <h6 class="mb-0">{{ user.userName }}</h6>
        </div>
        <div class="me-3" style="min-width: 30%;">
          <small class="text-muted">{{ user.email }}</small>
        </div>
        <div style="min-width: 15%;">
          <span class="badge custom-role mt-1">{{ user.role }}</span>
        </div>

        <div>
          <button class="btn btn-sm btn-outline-danger" (click)="onDeleteUser(user.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
