<app-message
  [successMessage]="successMessage"
  [errorMessage]="errorMessage"
></app-message>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Registered Users</h2>
    <button class="btn btn-primary" (click)="toggleForm()">
      {{ showForm ? 'Cancel' : '+ New User' }}
    </button>
  </div>

  <div *ngIf="showForm" class="card mb-4">
    <div class="card-header">
      <h5>Create New User</h5>
    </div>
    <div class="card-body">
      <app-user-form
        *ngIf="showForm"
        [options]="{ showRoleSelect: true, submitButtonText: 'Create User' }"
        (submitted)="onCreateUser($event)"
      ></app-user-form>
    </div>
  </div>

  <div class="list-group mb-4">
    <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center fw-bold">
      <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="me-3" style="min-width: 30%;">Username</div>
        <div class="me-3" style="min-width: 30%;">Email</div>
        <div style="min-width: 15%;">Role</div>
        <div style="min-width: 10%;"></div>
      </div>
    </div>

    <div *ngFor="let user of users" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="me-3" style="min-width: 30%;">
          <h6 class="mb-0">{{ user.userName }}</h6>
        </div>
        <div class="me-3" style="min-width: 30%;">
          <small class="text-muted">{{ user.email }}</small>
        </div>
        <div style="min-width: 15%;">
          <span class="badge custom-role mt-1">{{ user.role }}</span>
        </div>

        <div>
          <button class="btn btn-sm btn-outline-danger" (click)="onDeleteUser(user.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [maxVisiblePages]="5"
    (pageChange)="changePage($event)">
  </app-pagination>
</div>
