<app-navbar></app-navbar>

<app-message
  [successMessage]="successMessage"
  [errorMessage]="errorMessage"
></app-message>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Registered Users</h2>
    <button class="btn btn-primary" (click)="toggleForm()">
      {{ showForm ? 'Cancel' : '+ New User' }}
    </button>
  </div>

  <div *ngIf="showForm" class="card mb-4">
    <div class="card-header">
      <h5>Create New User</h5>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="newUser.firstName">
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="newUser.lastName">
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username"
               [(ngModel)]="newUser.userName" required>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="newUser.phone">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email"
               [(ngModel)]="newUser.email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password"
               [(ngModel)]="newUser.password" required>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" [(ngModel)]="newUser.role">
          <option value="MEMBER">Member</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>

      <button class="btn btn-success" (click)="createUser()"
              [disabled]="!validateUser()">Create User</button>
    </div>
  </div>

  <div class="list-group mb-4">
    <div *ngFor="let user of users" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="me-3" style="min-width: 30%;">
          <h6 class="mb-0">{{ user.userName }}</h6>
        </div>
        <div class="me-3" style="min-width: 35%;">
          <small class="text-muted">{{ user.email }}</small>
        </div>
        <div style="min-width: 20%;">
        <span class="badge custom-role mt-1">
          {{ user.role }}
        </span>
        </div>

        <div>
          <button class="btn btn-sm btn-outline-danger" (click)="onDeleteUser(user.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
