.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(133, 162, 208);
}

@media (max-width: 992px) {
  .navbar-brand {
    display: none;
  }
}

.navbar-brand {
  font-weight: bold;
  color: #007bff;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-nav .nav-link {
  color: #333333;
  transition: color 0.3s ease-in-out;
}

.navbar-toggler {
  margin-right: auto;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.custom-navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 40%;
  background-color: rgb(133, 162, 208);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  padding: 10px;
}

.custom-navbar-collapse .navbar-nav {
  flex-direction: column;
  align-items: flex-start;
}

.custom-navbar-collapse .nav-link {
  padding: 0.5rem 1rem;
  color: #333333;
  text-align: left;
}

.navbar-collapse .navbar-nav {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-collapse .nav-link:hover {
  color: #007bff;
}

.search-form {
  max-width: 600px;
  min-width: 250px;
  width: 50%;
}

.notification-icon {
  position: relative;
}

.notification-icon .nav-link {
  padding: 0.5rem;
  font-size: 1.1rem;
  color: black;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  padding: 0.2rem 0.35rem;
  border-radius: 50%;
}

.user-section .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dropdown-profile {
  position: absolute;
  top: 40px;
  min-width: 200px;
  background: #f4f4f4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  transform: translateX(-75%);
}

.user-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: #f4f4f4;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .navbar-collapse {
    padding: 1rem;
    background-color: rgb(133, 162, 208);
    margin-top: 0.5rem;
    border-radius: 0.25rem;
  }

  .search-form {
    width: 70%;
    margin: 0 1rem;
  }
}
