<nav class="navbar navbar-expand-lg" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" aria-label="CaptuRing Forum Home">CaptuRing Forum</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" inert></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" role="menubar">
      <ul class="navbar-nav me-auto" role="menu">
        <li class="nav-item" role="none">
          <a class="nav-link" href="#" role="menuitem">Home</a>
        </li>
        <li class="nav-item" role="none">
          <a class="nav-link" href="#" role="menuitem">Questions</a>
        </li>
      </ul>
      <ul class="navbar-nav" role="menu">
        <li class="nav-item dropdown" *ngIf="isAuthenticated" role="none">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="user-avatar me-2">{{ userNameInitial }}</span>
            {{ userName }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" role="menu">
            <li role="none">
              <a class="dropdown-item" href="/profile" role="menuitem">Profile</a>
            </li>
            <li role="separator"><hr class="dropdown-divider" /></li>
            <li role="none">
              <a class="dropdown-item" href="#" (click)="logout()" role="menuitem">Logout</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated" role="none">
          <a class="nav-link" href="/login" role="menuitem">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated" role="none">
          <a class="nav-link" href="/registro" role="menuitem">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
