.navbar {
  position: relative;
  z-index: 1040;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 0;
  margin-right: 1rem;
}

.navbar-collapse .nav-link:hover {
  color: #5e2ca8;
  transform: scale(1.1);
}

.search-bar-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 600px;
}

app-search-bar .form-control:focus {
  border-color: #5e2ca8;
  box-shadow: 0 0 0 0.25rem rgba(94, 44, 168, 0.25);
}

.notification-icon {
  position: relative;
}

.notification-icon .nav-link {
  padding: 0.5rem;
  font-size: 1.1rem;
  color: black;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  padding: 0.2rem 0.35rem;
  border-radius: 50%;
}

.notification-dropdown {
  max-height: 300px;
  overflow-y: auto;
  width: 350px;
}

.notification-dropdown .dropdown-item:hover {
  background-color: #ece6f5;
}

.user-section .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dropdown-profile {
  position: absolute;
  top: 40px;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transform: translateX(-75%);
}

.dropdown-profile a:hover {
  background-color: #ece6f5;
  transition: background-color 0.3s ease;
}

.user-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5e2ca8;
  color: #f4f4f4;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .navbar-brand {
    display: none;
  }

  .navbar-collapse {
    background-color: #f8f9fa;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    z-index: 1050;
  }

  .navbar-collapse .nav-link {
    padding: 0.75rem 1rem;
  }

  .navbar-collapse .nav-link:hover {
    background-color: #ece6f5;
    color: #000;
    transform: none;
  }

  .notification-dropdown {
    position: absolute;
  }
}
