<app-message
  [successMessage]="successMessage"
  [errorMessage]="errorMessage"
></app-message>

<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 350px; border-radius: 12px">
    <h2 class="text-center mb-4">Log in</h2>

    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email" name="email" required/>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input type="password" id="password" class="form-control" placeholder="8+ characters" [(ngModel)]="password" name="password" required
                 #passwordRef="ngModel"/>
          <button type="button" class="btn btn-outline-secondary input-group-text"
                  (click)="formUtils.togglePasswordVisibility('password')">
            <i class="fa-solid" [ngClass]="formUtils.showPasswords['password'] ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
        <small class="text-danger" *ngIf="passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)">
          Password is required
        </small>
      </div>

      <button type="submit" class="btn btn-primary w-100 rounded-pill py-2"> Log in </button>

      <div class="text-center mt-3">
        <a (click)="openForgotPassword()" class="text-decoration-none text-muted" style="cursor: pointer;">
          Forgot password?
        </a>
      </div>

      <div class="text-center mt-3">
        Don't have an account?
        <a href="/registro" class="text-decoration-none text-muted">
          Sign up
        </a>
      </div>

    </form>
  </div>
</div>

