<div class="app-wrapper">
  <app-navbar></app-navbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <ng-container *ngIf="!hideFooter()">
    <footer class="footer">
      <img id="upm-logo" src="/UPM_logo.png" alt="UPM Logo" height="80">
      <a class="navbar-brand" href="/questions" aria-label="CaptuRing Forum Home">
        <img src="/favicon.ico" alt="CaptuRing Forum" height="50">
      </a>
      <p class="mb-0 text-muted">Capturing Forum © 2025</p>
      <p class="mb-4 text-muted" id="authors">Yanran Ye & Rafaela Borba Falcão Cirino</p>
      <img id="miw-logo" src="/MIW_logo.png" alt="MIW Logo" height="80">
    </footer>
  </ng-container>
</div>
