/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding-top: calc(250px + env(safe-area-inset-top));
}

@media (max-width: 992px) {
  .container {
    padding-top: 200px;
  }
}
